<template>
  <section id="home" class="section">
    <div class="container">
      <h1 class="title">Avatar Creator</h1>
      <h2 class="subtitle">Create and customize your avatar.</h2>

      <router-link to="/studio">Create your avatar</router-link>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Home extends Vue {}
</script>

<style lang="scss">
#home {
  text-align: center;
}
</style>
