<template>
  <main id="studio" class="columns">
    <section id="preview-container" class="section container column is-two-thirds">
      <Preview></Preview>
    </section>
    <aside id="customizer-container" class="section column">
      <Customizer :featuresProp="features" :selectedFeaturesProp="selectedFeatures"></Customizer>
    </aside>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Preview from '@/components/Preview.vue';
import Customizer from '@/components/Customizer.vue';
import { ISelectedFeatures, IFeatureParams } from '@/models';

@Component({
  components: {
    Preview,
    Customizer,
  },
})
export default class Studio extends Vue {
  features: ISelectedFeatures = {} as any;
  selectedFeatures: ISelectedFeatures = {} as any;

  mounted() {
    this.selectedFeatures = this.$store.state.selectedFeatures;
    this.features = this.$store.state.features;
  }
}
</script>


<style lang="scss">
.columns {
  margin-bottom: 0;
}

#studio {
  min-height: 100vh;
}

#preview-container {
  color: #222;
}

#customizer-container {
  box-shadow: -2px 0 6px rgba(58, 58, 58, 0.1);
}
</style>

