<template>
  <div id="customizer">
    <h1 class="subtitle">Customize your avatar</h1>

    <b-table :data="availableFeatures"
             detailed
             detail-key="id">
      <template slot-scope="props">
        <b-table-column field="id">
          {{ props.row.id }}
        </b-table-column>
      </template>

      <template slot="detail" slot-scope="props">
        <FeatureSelector :_featureParams="props.row"
                         :_selectedFeaturesParams="selectedFeaturesProp[props.row.id]"
                         @selectParam="selectFeatureParam">
        </FeatureSelector>
      </template>
    </b-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FeatureSelector from './FeatureSelector.vue';
import {
  ISelectedFeatures,
  IFeatureParams,
  ParamsMapItem,
  IAvailableFeaturesMap,
} from '@/models';

@Component({
  components: {
    FeatureSelector,
  },
  props: {
    featuresProp: {},
    selectedFeaturesProp: {},
  },
})
export default class Customizer extends Vue {
  get availableFeatures(): {
    id: string;
    content: Array<number | IFeatureParams>;
  }[] {
    const feats = this.$props.featuresProp;
    return !feats
      ? []
      : Object.keys(feats).map(key => ({
          id: key,
          content: feats[key],
        }));
  }

  get selectedFeatures() {
    const feats = this.$props.selectedFeaturesProp;
    return !feats
      ? []
      : Object.keys(feats).map(key => ({
          id: key,
          content: feats[key],
        }));
  }

  selectFeatureParam(param: ParamsMapItem) {
    const feature = this.$props.selectedFeaturesProp[param.id];
    console.log(feature, param);
    if (typeof feature === 'number') {
      this.$store.dispatch('selectFeature', {
        [param.id]: param.value,
      });
    } else {
      Object.assign(feature, { [param.name]: param.value });
      this.$store.dispatch('selectFeature', {
        [param.id]: feature,
      });
    }
  }

  isNumber(value: any): boolean {
    return typeof value === 'number';
  }
}
</script>

<style lang="scss" scoped>
.subtitle {
  text-align: center;
}
</style>
