<template>
  <div v-if="isArray(_featureParams.content)" class="columns">
    <div class="column is-4" v-for="param in featureParams" :key="param.name">
      <div class="card" @click="chooseParam(param, param.name)" :class="{ 'selected': isSelected(param.name)}">
        <div class="card-image">
          <div class="image">{{ param.value }}</div>
        </div>
        </div>
    </div>
  </div>
  <div v-else>
      <div v-for="param in featureParams" :key="param.name">
        <h3 class="title">{{ param.name }}</h3>

        <div class="columns">
          <div class="column is-4" v-for="value in param.value" :key="value">
            <div class="card" @click="chooseParam(param, value)" :class="{ 'selected': isSelected(value, param.name)}">
              <div class="card-image">
                <div class="image">{{ value }}</div>
              </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {
  ISelectedFeatures,
  IFeatureParams,
  ParamsMapItem,
  ParamsMap,
} from '@/models';

@Component({
  props: {
    _featureParams: {},
    _selectedFeaturesParams: {},
  },
})
export default class FeatureSelector extends Vue {
  mounted() {
    console.log(this.$props._featureParams);
  }

  chooseParam(param: ParamsMapItem, value: number) {
    this.$emit('selectParam', { ...param, value });
  }

  isSelected(value: number, id?: string): boolean {
    const selectedParams = this.$props._selectedFeaturesParams;
    if (!id) {
      return value === selectedParams;
    }
    return value === selectedParams[id];
  }

  isArray(params: string[] | IFeatureParams): boolean {
    return Array.isArray(params);
  }

  get featureParams(): ParamsMap {
    const params = this.$props._featureParams;

    if (!params) {
      return [];
    }

    if (Array.isArray(params.content)) {
      return params.content.map((content: any, id: number) => ({
        id: params.id,
        name: id,
        value: content,
      }));
    }
    return Object.keys(params.content).map(key => ({
      id: params.id,
      name: key,
      value: params.content[key],
    }));
  }
}
</script>

<style lang="scss" scoped>
.title {
  font-size: 1.2em;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.columns {
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
}
.card {
  position: relative;
  padding-bottom: 100%;
  box-sizing: border-box;

  &.selected {
    border: 2px solid #00b991;
  }

  &-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
