<template>
  <div id="preview">
    <h1 class="subtitle">Preview</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class Preview extends Vue {}
</script>

<style lang="scss" scoped>
.subtitle {
  text-align: center;
}
</style>
